body{
  background-color: #ccc;
}
.filters{
  &-item{
    padding: 5px 0;
    transition: scale .3s;
    cursor:pointer;
    display:flex;
    &:hover{
      box-shadow: 1px 1px 3px rgba(0,0,0, 1);
    }
  }
  &-radioBt{
    margin: 0;
    padding: 0;
  }
}